body {
    background-image: url(../images/notebook_background.jpg);
}

button {
    transition: all 0.3s ease 0s;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
}

h2 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    display: inline-block;
    box-sizing: border-box;
}

h3 {
    font-size: 75px;
    width: 100%;
    height: 100%;
    line-height: 150px;
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light Two', cursive;
}

.menu {
    margin-top: 100px;
    display: block;
    font-size: 30px;
    text-align: center;
    position: relative;
    font-family: 'Shadows Into Light', cursive;
}

#playersOption {
    margin: 20px 0 0 0;
}

#players {
    font-size: 30px;
}

#playerOneName {
    margin: 20px 0 0 0;
    display: block;
}

#playerTwoName {
    margin: 20px 0 0 0;
    display: none;
}

.playerNameInput {
    width: 250px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

.intelligence {
    margin: 20px 0 0 0;
}

#intelligenceSelection {
    font-size: 30px;
}

#startGame {
    margin: 50px 0 0 0;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(233, 97, 27);
    border-radius: 20px;
}

#startGame:hover {
    background: rgb(135, 191, 216);
}

.board {
    width: 450px;
    height: 450px;
    margin: 25px auto 50px auto;
    display: none;
    text-align: center;
    box-sizing: border-box;
}

#declareWinner {
    top: 10%;
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
}

#declareMatchWinner {
    position: relative;
    top: 10%;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    /*padding: 0;
    margin: 0;*/
}

#continueButton {
    position: absolute;
    width: 20%;
    left: 40%;
    height: 15%;
    top: 40%;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(233, 97, 27);
    border-radius: 20px;
    display: none;
}

#continueButton:hover {
    background: rgb(135, 191, 216);
}

#reset {
    position: absolute;
    width: 20%;
    left: 40%;
    height: 15%;
    top: 60%;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(233, 97, 27);
    border-radius: 20px;
    display: none;
}

#reset:hover {
    background: rgb(135, 191, 216);
}

.row {
    display: flex;
    width: 100%;
    height: 150px;
}

.square {
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

#SQ1 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#SQ2 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#SQ3 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#SQ4 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#SQ5 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#SQ6 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#SQ7 {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#SQ8 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#SQ9 {
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.scores {
    height: 50px;
    width: 100%;
    text-align: center;
    display: none;
    position: relative;
    margin-top: 20px;
    box-sizing: border-box;
}

#firstScore {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-right: 100px;
    text-align: center;
    border: solid rgb(255, 96, 110);
    border-radius: 10px;
    animation: blinker 1s linear infinite;
    background-color: rgb(222, 239, 239);
}

#secondScore {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    border: solid rgba(247, 54, 54, 0);
    /*border-radius: 10px;
    animation: blinker 1s linear infinite;*/
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
