body {
    background-image: url(../images/notebook_background.jpg);
    /*background-color: rgb(253, 255, 211);*/
}

h1 {
    /*border: solid black;*/
    font-size: 60px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.menu {
    margin-top: 100px;
    display: block;
    font-size: 30px;
    text-align: center;
    position: relative;
    /*left: 35%;*/
    font-family: 'Shadows Into Light', cursive;
}

.playerNameInput {
    width: 250px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

#playersOption {
    margin: 20px 0 0 0;
    /*width: 500px;*/
}

#players {
    font-size: 30px;
}

#playerOneName {
    margin: 20px 0 0 0;
    display: block;
}

#playerTwoName {
    margin: 20px 0 0 0;
    display: none;
}

.intelligence {
    margin: 20px 0 0 0;
}

#intelligenceSelection {
    font-size: 30px;
}

#limitedRounds {
    margin: 20px 0 0 0;
}

#roundLimitSelection {
    font-size: 30px;
}

#numberOfRounds {
    margin: 20px 0 0 0;
    display: none;
}

.roundsChosen {
    font-size: 30px;
    width: 70px;
    font-family: 'Shadows Into Light', cursive;
    height: 30px;
}

#startGame {
    margin: 50px 0 0 0;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(233, 97, 27);
    border-radius: 20px;
}

.board {
    width: 600px;
    height: 600px;
    margin: 50px auto 50px auto;
    display: none;
    text-align: center;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(233, 97, 27);
    border-radius: 20px;
}

#continueButton {
    position: absolute;
    width: 20%;
    left: 40%;
    height: 15%;
    top: 40%;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(233, 97, 27);
    border-radius: 20px;
    display: none;
}

#reset {
    position: absolute;
    width: 20%;
    left: 40%;
    height: 15%;
    top: 60%;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(233, 97, 27);
    border-radius: 20px;
    display: none;
}

.row {
    display: flex;
    width: 100%;
    height: 200px;
}

.square {
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 100px;
    width: 100%;
    height: 100%;
    line-height: 250px;
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light Two', cursive;
}

#SQ1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#SQ2 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#SQ3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#SQ4 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#SQ5 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#SQ6 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#SQ7 {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#SQ8 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#SQ9 {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.scores {
    height: 50px;
    width: 100%;
    text-align: center;
    /*border: 1px solid red;*/
    display: none;
    /*display: inline-block;*/
    position: relative;
}

h2 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    /*position: absolute;*/
    font-family: 'Shadows Into Light', cursive;
}

#firstScore {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    /*border: 1px solid black;*/
    margin-right: 125px;
    text-align: left;
}

#secondScore {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    /*border: 1px solid black;*/
    margin-left: 125px;
    text-align: right;
}

#declareWinner {
    position: relative;
    top: 10%;
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
}
